.header {
    background-color: $header-background;
    height: $normal-animating-message-size;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;

    .audio {
        width: $normal-animating-message-size - 20px;
        height: $normal-animating-message-size - 20px;
        margin: 10px auto;
        display: block;
    }
}