$body-background: #12121D;
$orange-message: #FF6E00;
$usual-message: #FF7777;
$blue-message: #3489CD;
$body-color: #E9E9ED;
$grey-background: #333;
$small-message-font-size: 30px;
$normal-message-font-size: 18px;

@font-face {
  font-family: 'pupcat';
  src: url('../../source/pupcat.ttf')  format('truetype');
}

body {
    background: $body-background;
    margin: 0;
    font-family: 'pupcat';

    color: $body-color;

    @import './messages';
    @import './header';
    @import './video-player';
}
